@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

.backGround {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(0deg, #ffffff93, #8a8a8993),
    url('../image/pngtree-white-background-with-blue-abstract-smoke-on-top-image_312166.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}
/* =========Header============ */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background-color: #0b44cd;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-family: 'Manrope';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}
.carIcon,
.homeIcon {
  scale: 2.2;
}
.menu {
  display: flex;
  gap: 20px;
}
.link {
  box-sizing: border-box;
  width: 92px;
  height: 36px;
  color: #f3f3f2;
  border: none;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  transition: all 250ms ease-in-out;
}
.link:hover,
.link:focus {
  cursor: pointer;
  background-color: #f3f3f2;
  color: #3470ff;
  scale: 1.1;
}
.activeLink {
  box-sizing: border-box;
  width: 92px;
  height: 36px;
  color: #3470ff;
  background-color: #f3f3f2;
  border: none;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
/* =========catalog =========== */

.title {
  margin: 20px;
  text-align: center;
  width: 100%;
  color: #0b44cd;
  font-family: 'Manrope';
  font-size: 46px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.2;
}
.listTopCar {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;
  margin: 50px;
}
.labelKm,
.labelMark,
.labelPrise {
  display: flex;
  flex-direction: column;
  color: #8a8a89;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  gap: 8px;
}
.labelMark {
  width: 224px;
}
.labelPrise {
  width: 125px;
}
.labelKm {
  width: 320px;
}
.markSelect,
.priseSelect {
  height: 48px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 14px;
  background: #f7f7fb;
  border: none;
}
.kmSelect {
  width: 160px;
  height: 48px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 14px;
  background: #f7f7fb;
  border: none;
}
.search {
  border: none;
  width: 136px;
  height: 48px;
  border-radius: 12px;
  background: #3470ff;
  color: #fff;
}
.catalogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 29px;
}
.loadMore {
  margin: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #3470ff;
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}
.loadMoreDisable {
  margin: 20px;
  cursor: not-allowed;
  border: none;
  background-color: transparent;
  color: #8a8a89;
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}
/* =========card========= */
.carCard {
  position: relative;
  display: flex;
  width: 274px;
  height: 460px;
  flex-direction: column;
  align-items: center;
}
.heart {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  scale: 1;
  transition: all 250ms ease-in-out;
}
.heart:hover {
  cursor: pointer;
  scale: 1.2;
}
.itemImg {
  text-align: center;
  width: 274px;
  height: 268px;
  border-radius: 14px;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    #f3f3f2;
}
.topBox {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topText {
  color: #121417;
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.blue {
  color: #3470ff;
}
.botBox {
  color: rgba(18, 20, 23, 0.5);
  font-family: 'Manrope';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 6px;
}
.botTip {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 8px;
  border-right: 1px solid #1214171a;
}
.botBox:last-child.botTip {
  border-right: none;
}
.rentBtn {
  margin-top: 28px;
  width: 274px;
  height: 44px;
  border-radius: 12px;
  color: #fff;
  background: #3470ff;
  border: none;
  transition: all 250ms ease-in-out;
}
.rentBtn:hover {
  cursor: pointer;
  background-color: #0b44cd;
}
/* =============popup================== */
.backDrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: #12141776;
}
.modalWindow {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;

  padding: 40px;
  width: 541px;
  height: 752px;
  border-radius: 24px;
  background: #fff;
}
.close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
  color: #3470ff;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.close:hover {
  cursor: pointer;
  scale: 1.2;
  color: #0b44cd;
}
.popImg {
  width: 100%;
  height: 260px;
  border-radius: 20px;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    #f3f3f2;
}
.popList {
  display: flex;
  flex-wrap: wrap;
  color: #121417;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.accesFuncLi {
  list-style: none;
  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.popLi {
  list-style: none;
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 35px;
  background: #f9f9f9;
  color: #363535;
  /* font-family: 'Montserrat'; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
}

.rentCompany {
  list-style: none;
  display: flex;
  padding: 14px 21px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 35px;
  background: #f9f9f9;
  color: #363535;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;
  transition: all 250ms ease-in-out;
}

.rentCompany:hover {
  scale: 1.1;
  background: #3470ff;
  color: #f9f9f9;
}

.companyList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
/* ==============Top Car Item============ */

.topCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.imgTopBox {
  width: 720px;
  height: 480px;
  background-color: #8a8a89;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.imgTopBox::before {
  content: '';
  width: 200px;
  height: 200px;
  transform: rotate(60deg);
  background-color: #3470ff;
  position: absolute;
  top: -100px;
  left: -70px;
  z-index: 10;
  border-radius: 50%;
}
.imgTopBox::after {
  content: '';
  width: 200px;
  height: 200px;
  transform: rotate(60deg);
  background-color: #3470ff;
  position: absolute;
  bottom: -100px;
  right: -70px;
  z-index: 10;
  border-radius: 50%;
}
.topImg {
  width: 100%;
  height: 100%;
}
.topPrice {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 15;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  color: whitesmoke;
}
.topName {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 15;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  color: whitesmoke;
}

.calendarBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.calendarInput,
.wayBtnBox {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #ddd;
  text-align: center;
  font-size: 16px;
  border: none;
  transition: all 300ms ease-in-out;
}
.calendarInput:hover,
.calendarInput:active {
  border: none;
  background-color: #3471ff5a;
}
.wayBtnBox {
  background-color: transparent;
  display: flex;
  padding: 0;
}
.wayButton {
  width: 100%;
  height: 100%;
  flex: 1;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 50%;
  width: 10%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.calendarTumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.calendar {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}
.timePick {
  border: none;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  background: #3470ff;
  color: #fff;
  transition: all 250ms ease-in-out;
}
.timePick:hover {
  background: #0b44cd;
  color: #fff;
}
.timer {
  margin-top: 6px;
  display: flex;
  min-width: 220px;
  min-height: 42px;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 35px;
  background: #f9f9f9;
  color: #363535;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.timerInput {
  background-color: transparent;
  border: none;
  font-size: 22px;
  font-weight: 500;
  color: #3470ff;
}
.table {
  width: 100%;
  padding: 20px;
}
.infoTable {
  width: 100%;
  border-collapse: collapse;
}
.infoTable tr {
  text-align: center;
}
.infoTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.infoTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.infoTable tr:hover {
  background-color: #0b44cd;
  color: #fff;
}
