/* =============popup================== */
.backDrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: #12141776;
  overflow-y: scroll;
}
.modalWindow {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 50px 10px;
  border-radius: 24px;
  background: #fff;
  gap: 10px;
  overflow: scroll;
}
.close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
  color: #3470ff;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.close:hover {
  cursor: pointer;
  scale: 1.2;
  color: #0b44cd;
}
.popImg {
  width: 100%;
  height: 260px;
  border-radius: 20px;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    #f3f3f2;
}
.popList {
  display: flex;
  flex-wrap: wrap;
  color: #121417;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.accesFuncLi {
  list-style: none;
  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.popLi {
  list-style: none;
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 35px;
  background: #f9f9f9;
  color: #363535;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.24px;
}

.topBox {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topText {
  color: #121417;
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.blue {
  color: #3470ff;
}
.botBox {
  color: rgba(18, 20, 23, 0.5);
  font-family: 'Manrope';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 6px;
}
.botTip {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 8px;
  border-right: 1px solid #1214171a;
}
.botBox:last-child.botTip {
  border-right: none;
}
.rentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 28px;
  width: 274px;
  height: 44px;
  border-radius: 12px;
  color: #fff;
  background: #3470ff;
  border: none;
  transition: all 250ms ease-in-out;
}
.rentBtn:hover {
  cursor: pointer;
  background-color: #0b44cd;
}
.reservbtn {
  margin: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #3470ff;
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}
.btnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============Order Windiw============== */

.calendarBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.calendarInput,
.wayBtnBox {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #ddd;
  text-align: center;
  font-size: 16px;
  border: none;
  transition: all 300ms ease-in-out;
}
.calendarInput:hover,
.calendarInput:active {
  border: none;
  background-color: #3471ff5a;
}
.wayBtnBox {
  background-color: transparent;
  display: flex;
  padding: 0;
}
.wayButton {
  width: 100%;
  height: 100%;
  flex: 1;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 50%;
  width: 10%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.calendarTumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.calendar {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}
.timePick {
  border: none;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  background: #3470ff;
  color: #fff;
  transition: all 250ms ease-in-out;
}
.timePick:hover {
  background: #0b44cd;
  color: #fff;
}
.timer {
  margin-top: 6px;
  display: flex;
  min-width: 220px;
  min-height: 42px;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 35px;
  background: #f9f9f9;
  color: #363535;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.timerInput {
  background-color: transparent;
  border: none;
  font-size: 22px;
  font-weight: 500;
  color: #3470ff;
}
.table {
  width: 100%;
  padding: 20px;
}
.infoTable {
  width: 100%;
  border-collapse: collapse;
}
.infoTable tr {
  text-align: center;
}
.infoTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.infoTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.infoTable tr:hover {
  background-color: #0b44cd;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .modalWindow {
    padding: 40px;
    width: 541px;
    height: 752px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btnBox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
